@import url("https://fonts.googleapis.com/css2?family=Joti+One&family=Kaushan+Script&family=Lacquer&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&display=swap");

/* CSS HEX */
:root {
--darker: #880d1eff;
--navBar: #dd2d4aff;
--body: #f26a8dff;
--today: #F1436E;
--offset: #f49cbbff;
--lighter: #cbeef3ff;
--Rosi: rgba(243, 95, 119, 0.781);
/* shadows */
--light-shadow:-1px 2px 3px 1px black;
--strong-shadow:-2px 4px 10px 3px black;
}

.lacquer-regular {
  font-family: "Lacquer", system-ui;
  font-weight: 400;
  font-style: normal;
}
.kaushan-script-regular {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.joti-one-regular {
  font-family: "Joti One", serif;
  font-weight: 400;
  font-style: normal;
}

body {
 background-color: black;
 width: 100%;
 margin:0;
}


@media screen and (min-width: 992px) {
body {
 max-width: 1200px;
 margin: 0 auto;
}
}