/* la posizione per ora è hardcodata, ma verrà poi gestita tramite getboundingclientRect, per farlo apparire in 2 punti diversi */
#mini-calendar{
    position: fixed;
    z-index: 500;
    top: 5rem;
    left: 12rem;
    width: 10rem ;
    /* height: 40px; */
    background: var(--background);
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: var(--strong-shadow);
    color: var(--textModal);
    /* backdrop-filter: blur(5px);  */

}
.date-input{
    display: flex;
    justify-content: center;
}
.day-select {
    display: none;
}
.show-mini-calendar {
    display: flex;
    flex-direction: column;
}
.input-year, .input-month, .input-day {
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom: 1px dashed var(--textModal);
    background: none;    
    text-align: center;
    font-family: "Kaushan Script", cursive;
    color: var(--textModal);
}

.input-year{
    width: 50px;
    padding-top: 10px;
    padding-left: 5px;
}
.input-month, .input-day {
    width: 30px;
    padding-top: 10px;  
}


.slash {
    /* font-size: 5px; */
    font-weight: bold;
    font-size: 25px;
    
}
.mini-container{
    border: 2px solid black;
    margin-top: 0.5rem
}
.mini-btns-cont{
    display: flex;
    justify-content: space-between;
   
}
.mini-month-btn, .mini-year-btn{
    border: none;
    background: transparent;
    font-family: "Lacquer", system-ui;
    font-size: 1rem;
    color:var(--textModal)
}

.mini-year-btn{
   font-family: "Kaushan Script", cursive;
    font-size: 1.2rem;
    
}

.mini-day-grid-btn{
    font-size: 0;
    text-align: center;
    border-bottom: 1px solid var(--darker);
    margin-bottom: 0.5rem;
}
.mini-day-grid-btn::first-letter{
    font-size: 1rem;
    font-family: "Lacquer", system-ui;
}
.mini-boxes-container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
   
}
.mini-box-grid{
    
}

.mini-inside-box{
   border: none;
    width: 1rem;
    padding: 0;
}
.mini-number-box{
    border: none;
    background:none;
    color: var(--textModal);
    width: 100%;
    padding: 0;
   
}

.mini-set{
 background-color: var(--background);
}
.mini-offset{
 background-color: var(--offsetMini);
}

.mini-today{
    background-color: var(--darker);
}

.month-lists{
    display: none;
    position: absolute;
    top: 10%;
    left: -100%;
    width: 100%;
    max-height: 100px;
    overflow-y: auto;
    background:var(--darker);
    border: 1px solid #ccc;
    z-index: 10;
}

.show-carousel{
    display: block;
}
.mini-month-item {
    padding: 4px 8px;
    cursor: pointer;
    color: black;
}

.mini-month-item:hover {
    background-color: #f0f0f0;
}
.mini-actions{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0.5rem;
}
.mini-cancel-btn, .mini-save-btn{
    border: none;
    font-family: "Lacquer", system-ui ;
    font-weight: bold;
    background-color: var(--textModal);
    color: var(--background);
    border-radius: 10px;
}