.monthly-events-container{
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding: 0.2rem;
    /* white-space: nowrap; */
    /* width: max-content; */
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100px; 
    scrollbar-width: none;
-ms-overflow-style: none;
}
.monthly-event {
  flex-shrink: 0;
  font-size: 0.75rem;
  color: var(--textModal);
  z-index: 30;
  cursor: pointer;
  /* background: white; */
  border-radius: 5px;
  /* padding: 0.1rem; */
  box-shadow: var(--light-shadow);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
font-family:"Joti One", serif;
padding-left: 0.1rem;
}

.event-allDay-container{
  width: 100%;
}
.render-allDay{
  /* font-size: 1rem; */
  display: -webkit-box;
  /* width: 100%; */
  gap: 0.4rem;
 margin-bottom: 0.2rem;
 font-family:"Kaushan Script", cursive;
 font-size: 0.8rem;
}
.render-allDay span{
display: none;
}
.render-allDay p, .week-allDay-event p, .daily-allDay-event p{
  margin: 0;
}
.week-allDay-event{
  display: flex;
 /* max-width: 95%; */
  overflow: hidden;
  gap: 0.2rem;
font-family:"Kaushan Script", cursive;
box-shadow: var(--light-shadow);
font-size: 0.8rem;
}
.all-event-start-text{
  display: none;
}
.week-allDay-event p {
  display: flex;
  /* overflow: hidden;  */
}
.daily-allDay-event{
  display: flex;
  max-width: 90%;
  overflow: hidden;
  gap: 0.3rem;
font-family:"Kaushan Script", cursive;
font-weight: bold;
box-shadow: var(--light-shadow);
padding: 0.2rem;
}

.daily-event, .weekly-event{
    position: absolute;
    top: "";
    height: "";
    left: 0;
    z-index: 30;
    border-radius: 10px;
    /* padding: 2rem; */
    font-family: "Joti One", serif;
    /* color: var(--textModal); */
    overflow: hidden;
    box-sizing: border-box;
    font-size: 0.7rem;
    box-shadow: var(--light-shadow);
    /* display: flex;
    justify-content: left;
    align-items: center;
    gap: 0.4rem */
}
.render-time, .render-title{
  margin: 0.1rem 0.2rem;
}
/* .render-title{
  margin: 0;
} */
.weekly-event .render-time{
  display: none;
}
.weekly-event .render-title{
  /* margin: 0; */
  /* overflow-wrap: anywhere; */
  word-break: break-word;
  /* margin-left: 0.2rem; */
}
.daily-event {
  display: flex;
  gap: 1rem;
}
.text-background{
  background-color: rgba(2, 0, 0, 0.041);
    border-radius: 4px;
  padding-inline: 4px;
}

.event-blue, .event-green, .event-purple, .event-red, .event-yellow, .event-orange, .event-pink {
    opacity: 0.9;
}
.event-blue { background: blue; color: var(--textModal)}
.event-green { background: green; color: var(--textModal)}
.event-purple { background: purple; color: var(--textModal)}
.event-red { background: red; color: var(--textModal)}
.event-yellow{background: rgba(255, 255, 0, 0.87); color: var(--background);}
.event-orange{background: orange;color: var(--background)}
.event-pink{background: pink; color: var(--background);}

/* current color usa il colore del testo attuale */
.event-urgent {
  font-weight: bold;
  background-image: repeating-linear-gradient(
    45deg,
     rgba(14, 11, 11, 0.363) 0,
     rgba(14, 0, 0, 0.3) 1px,
      transparent 4px,
    transparent 7px
  );
  /* box-shadow: var(--strong-shadow); */
}


@media screen and (min-width:992px) {

  .monthly-events-container{
    width: 90%;
  }
  .render-time, .render-title{
    font-size: 1rem;
    margin-left: 0.3rem;
  }
  .render-allDay{
 display: flex;
 font-size: 0.9rem;
}
.week-allDay-event{
 
  font-size: 1rem;
}
  .render-allDay span, .all-event-start-text{
   display: block;
}
.daily-allDay-container{
  width: 20rem;
}
.week-allDay-event .all-event-start-text{
  display: none;
}

}

