.section-center {
    position: fixed;
    z-index: 400;
    top: calc(30% + var(--offset-top, 0px));
    right: calc(15% + var(--offset-right, 0px)); /*offset-right,calcolo al momento in js*/
    border-radius: 20px;
    background-color: wheat ;
    background-size: 20rem;
    opacity: 0.9;
    border: 2px solid black;
    box-shadow: 4px 4px 10px black;
    box-sizing: border-box;
    width: 20rem;
    min-height: 30rem;
    max-height: 50rem;
    display: none;
}
.show-modal {
    display: block;
}

.main-title {
    margin-left: 2rem;
}
.title-main-todo {
    /* provvisiorio, il font li sistemo più avanti */
    font-family: "Lacquer", system-ui;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 12px;
}
.my-list-row {
    display: flex;
    justify-content: space-around;
    font-family: "Lacquer", system-ui;
   
}
/* lo rendo cliccabile per visualizzare le vecchie liste */
.my-list-text {
    font-size: 1.2rem;
    margin-top: 10px;
}
.my-list-buttons-container{
    padding-top: 6px;
}
.new-list {
    border: 2px solid black;
    border-radius: 7px;
    width: 3rem;
    height: 2rem;
}
.create-new-list {
    font-family: "Lacquer", system-ui;
    font-weight: bold;
}

/* il contenitore dinamico*/
/* .to-do-container {
    /* display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto; 

}  */

.to-do-title {
    display: flex;
    font-family: "Kaushan Script", cursive;
    font-size: 1.5rem;
    
}

.date-to-do {
  margin: 5px 40px 0px;
    
}
.title-list {
    width: 50%;
    margin-top: 5px;
    overflow: hidden;
}
.to-do-item {
display: grid;
grid-template-columns: 3rem 70% 1.5rem;

    font-family: "Kaushan Script", cursive;
    font-size: 1rem;
    font-weight: bold;

  /* position: relative; */
}
/*uso piskel per disegnare una checkbox personalizzata*/
.check-btn {
    background-image: url("./images/checkbox.png");
    background-size: 40px;
    border: none;
    width: 30px ;
    height: 30px;
    padding:0
    
    /* border: none; */
}
.checked {
 background-image: url("./images/checkboxgif.gif");
}

.title-item {
    margin-left: 15px;
    margin-bottom:10px;
    border-bottom: 1px solid black;
}
.delete-btn {
   background-image: url("./images/trash-can.png");
   background-size: 30px;
   border: none;
   width: 30px;
   height: 30px;
   display: none;
}
.show-delete {
    display: block;
}

/**********effetto blur da aggiungere sotto i modal***********************/
.blur-active {
  filter: blur(2px);
  transition: filter 0.4s ease;
}